@import url("https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Batas Akhir */

body {
  background-color: #eeedeb;
  color: #3c3633;
}

.container {
  width: 800px;
  margin: 50px auto;
  background-color: #fefefe;
}

.nav {
  padding: 20px;
}

.nav .title {
  font-family: "IM Fell French Canon SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  line-height: 54px;
}

.nav ul li {
  margin-top: 10px;
  display: inline-block;
}

.nav ul li a {
  margin-right: 12px;
  text-decoration: none;
  font-weight: 400;
  color: #3c3633;
}

.nav ul li a:hover {
  color: #5d5653;
}

.hero {
  height: 300px;
  width: 800px;
  background-image: url(../images/historic.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -72px;
}

.main {
  padding: 20px;
  width: 480px;
  box-sizing: border-box;
  float: left;
}
.main img {
  height: 214px;
  float: left;
  margin-right: 10px;
}

.main h2,
.sidebar h2 {
  font: 24px/32px "IM Fell French Canon SC", serif;
}

.main p,
.sidebar p {
  font-size: 14px;
  line-height: 22px;
  margin-top: 5px;
}

.sidebar {
  width: 280px;
  float: right;
  padding: 20px;
}

.sidebar img {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
}

.media {
  width: 20px;
  height: 20px;
  background-size: cover;
  opacity: 0.9;
  display: inline-block;
  margin-top: 20px;
  margin-right: 8px;
}

.fb {
  background-image: url(../images/facebook.png);
}
.x {
  background-image: url(../images/twitter.png);
}
.ig {
  background-image: url(../images/instagram.png);
}

.footer {
  height: 40px;
  background-color: #747264;
  color: #eeedeb;
  line-height: 40px;
  text-align: center;
}

/* Clear fix */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}
